<button (click)="back()">Back</button>

<p>{{ newItemFormFB.value | json }}</p>

<form [formGroup]="newItemFormFB" (submit)="addNewItem()" >

    <input formControlName="name" type="text">
    
    <ng-container *ngIf="newItemFormFB.controls['name'].dirty || newItemFormFB.controls['name'].touched">
      <p *ngIf="newItemFormFB.controls['name'].errors">Not a valid name</p>
    </ng-container>


    <input formControlName="description" type="text">
    <ng-container *ngIf="newItemFormFB.controls['description'].dirty || newItemFormFB.controls['description'].touched">
      <p *ngIf="newItemFormFB.controls['description'].errors">Not a valid description</p>
    </ng-container>

    <input formControlName="giver" type="text">
    <ng-container *ngIf="newItemFormFB.controls['giver'].dirty || newItemFormFB.controls['giver'].touched">
      <p *ngIf="newItemFormFB.controls['giver'].errors">Not a valid description</p>
    </ng-container>

    <input formControlName="price" type="number">
    <ng-container *ngIf="newItemFormFB.controls['price'].dirty || newItemFormFB.controls['price'].touched">
      <p *ngIf="newItemFormFB.controls['price'].errors">Not a valid price</p>
    </ng-container>


    <button [disabled]="!newItemFormFB.valid" type="submit">Absenden</button>
</form>
  
    <!-- <div>
      <input type="file" (change)="CreateBase64String($event)" class="fileInputProfileform-control">
      <ng-container *ngIf="imageIsSaved">
          <img [src]="cardImageBase64" >
      </ng-container>
  </div> -->