<button (click)="redirectToWMaschine()">Maschinenstatus</button>
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<div class="row">
    <ng-container *ngFor="let person of people">
        <app-peoplecard class="col" *ngIf="searchText === '' || person.vorname.toLowerCase().includes(searchText.toLowerCase()) || person.nachname.toLowerCase().includes(searchText.toLowerCase()) || person.nummer.toString().includes(searchText)" [person]="person"></app-peoplecard>
    </ng-container>
</div>
