<div class="text-center">
    <div class="page">
        <div class="container-fluid text-center content">
            <img src="assets/icons/icon-72x72.png" alt="Insert Logo here" class="icon">
            <h1 class="mb-3">Manage the Doro Community</h1>
            <h3 class="mb-5">Party, Study, Party</h3>
            <div class="inline">
                <button class="shadow btn btn-primary" >Start using</button>
                <button class="shadow btn btn-light btn-outline-dark demo-btn">Whats new?</button><br><br>
            </div>
            <img src="assets/tourguide_image_1.svg" width="400" height="300" class="vector"><br><br><br><br>
            <!-- <h3>Trusted by a few people maybe</h3><br><br> -->
            <img src="assets/tourguideside/Spotify_Logo_RGB_Green.png"  class="spotifyimage" href="https://open.spotify.com/"><br>
            <img src="assets/tourguideside/SpotifyPage.png" class="img" id="img1"><br>
            <img src="assets/tourguideside/SpotifyPlaylist.png" class="img" id="img2">
            <h1></h1>
        </div>
    </div>
     
</div>