<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Good Morning...</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">DoroApp V2</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark" style="display: flex; flex-direction: column; flex-flow: column;">
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirecting('w_machine_status')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Machine Status</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirecting('people_list')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Bewohnersuche</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirecting('mensa_buddy')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Mensabuddy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirecting('marketplace')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Marketplace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="redirecting('shared')" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">Kommunismus</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
          <div style="display: flex;">
            <img src="../assets/undraw_pic_profile_re_lxn6.svg" alt="" class="rounded-0 float-start" style="width: 50px;">
            <h3 class="mt-3">Timmy Turner</h3>
          </div>
      <div>
      </div>
      </div>
    </div>
  </div>
</nav>

<div class="router" style="padding-top: 60px;">
  <router-outlet></router-outlet>
</div>