<h1>Welcome to the Doroapp</h1>

<h1>Waschmaschinen</h1>
<div class="row">
<div class="card" style="width: 18rem;">
  <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Waschmaschine 1</h3>
    <div>
      <span class="card-text">Status:</span>
      <h5 *ngIf="Machines['Waschmaschine 1'] == 'Done'" style="color: red;">{{Machines['Waschmaschine 1']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 1'] == 'Free'" style="color: green;">{{Machines['Waschmaschine 1']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 1'] == 'In Use'" style="color: blue;">{{Machines['Waschmaschine 1']}}</h5>
    </div>
    <a (click)="switchStatus('Waschmaschine 1', 'Done')" class="btn btn-danger btn-status">Done</a>
    <a (click)="switchStatus('Waschmaschine 1', 'Free')" class="btn btn-success btn-status">Free</a>
    <a (click)="switchStatus('Waschmaschine 1', 'In Use')" class="btn btn-primary btn-status">In Use</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Waschmaschine 2</h3>
    <div>
      <span class="card-text">Status:</span>
      <h5 *ngIf="Machines['Waschmaschine 2'] == 'Done'" style="color: red;">{{Machines['Waschmaschine 2']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 2'] == 'Free'" style="color: green;">{{Machines['Waschmaschine 2']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 2'] == 'In Use'" style="color: blue;">{{Machines['Waschmaschine 2']}}</h5>
    </div>
    <a (click)="switchStatus('Waschmaschine 2', 'Done')" class="btn btn-danger btn-status">Done</a>
    <a (click)="switchStatus('Waschmaschine 2', 'Free')" class="btn btn-success btn-status">Free</a>
    <a (click)="switchStatus('Waschmaschine 2', 'In Use')" class="btn btn-primary btn-status">In Use</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Waschmaschine 3</h3>
    <div>
      <span class="card-text">Status:</span>
      <h5 *ngIf="Machines['Waschmaschine 3'] == 'Done'" style="color: red;">{{Machines['Waschmaschine 3']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 3'] == 'Free'" style="color: green;">{{Machines['Waschmaschine 3']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 3'] == 'In Use'" style="color: blue;">{{Machines['Waschmaschine 3']}}</h5>
    </div>
    <a (click)="switchStatus('Waschmaschine 3', 'Done')" class="btn btn-danger btn-status">Done</a>
    <a (click)="switchStatus('Waschmaschine 3', 'Free')" class="btn btn-success btn-status">Free</a>
    <a (click)="switchStatus('Waschmaschine 3', 'In Use')" class="btn btn-primary btn-status">In Use</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title">Waschmaschine 4</h3>
    <div>
      <span class="card-text">Status:</span>
      <h5 *ngIf="Machines['Waschmaschine 4'] == 'Done'" style="color: red;">{{Machines['Waschmaschine 4']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 4'] == 'Free'" style="color: green;">{{Machines['Waschmaschine 4']}}</h5>
      <h5 *ngIf="Machines['Waschmaschine 4'] == 'In Use'" style="color: blue;">{{Machines['Waschmaschine 4']}}</h5>
    </div>
    <a (click)="switchStatus('Waschmaschine 4', 'Done')" class="btn btn-danger btn-status">Done</a>
    <a (click)="switchStatus('Waschmaschine 4', 'Free')" class="btn btn-success btn-status">Free</a>
    <a (click)="switchStatus('Waschmaschine 4', 'In Use')" class="btn btn-primary btn-status">In Use</a>
  </div>
</div>
</div>

<h1>Trockner</h1>

<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Trockner 1</h3>
      <div>
        <span class="card-text">Status:</span>
        <h5 *ngIf="Trockner['Trockner 1'] == 'Done'" style="color: red;">{{Trockner['Trockner 1']}}</h5>
        <h5 *ngIf="Trockner['Trockner 1'] == 'Free'" style="color: green;">{{Trockner['Trockner 1']}}</h5>
        <h5 *ngIf="Trockner['Trockner 1'] == 'In Use'" style="color: blue;">{{Trockner['Trockner 1']}}</h5>
      </div>
      <a (click)="switchStatusT('Trockner 1', 'Done')" class="btn btn-danger btn-status">Done</a>
      <a (click)="switchStatusT('Trockner 1', 'Free')" class="btn btn-success btn-status">Free</a>
      <a (click)="switchStatusT('Trockner 1', 'In Use')" class="btn btn-primary btn-status">In Use</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="../assets/undraw_time_management_re_tk5w.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Trockner 2</h3>
      <div>
        <span class="card-text">Status:</span>
        <h5 *ngIf="Trockner['Trockner 2'] == 'Done'" style="color: red;">{{Trockner['Trockner 2']}}</h5>
        <h5 *ngIf="Trockner['Trockner 2'] == 'Free'" style="color: green;">{{Trockner['Trockner 2']}}</h5>
        <h5 *ngIf="Trockner['Trockner 2'] == 'In Use'" style="color: blue;">{{Trockner['Trockner 2']}}</h5>
      </div>
      <a (click)="switchStatusT('Trockner 2', 'Done')" class="btn btn-danger btn-status">Done</a>
      <a (click)="switchStatusT('Trockner 2', 'Free')" class="btn btn-success btn-status">Free</a>
      <a (click)="switchStatusT('Trockner 2', 'In Use')" class="btn btn-primary btn-status">In Use</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>