<div class="card" style="width: 18rem;">
    <img src="/assets/undraw_order_delivered_re_v4ab.svg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{marketItem.name}}</h5>
      <p class="card-text">{{marketItem.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{marketItem.giver}}</li>
      <li class="list-group-item">{{marketItem.price}} $</li>
    </ul>
    <input type="button" (click)="onSelled()" class="btn btn-primary" value="Verkauft">
  </div>
